<div class="container" *ngIf="authGuard.isAdmin()">
  <form #formRef="ngForm" (ngSubmit)="addProblem()">
    <div class = "form-group">
      <label for = "problemName">Problem Name</label>
      <input type = "text" class = "form-control" id = "problemName"
       name="problemName" required placeholder="Enter Problem Name" [(ngModel)]="newProblem.name">
    </div>
    <div class = "form-group">
      <label for = "problemDes">Problem Description</label>
      <input type = "text" row=3 class = "form-control" id = "problemDes"
       name="problemDes" required placeholder="Enter Problem Description" [(ngModel)]="newProblem.des">
    </div>
    <div class = "form-group">
      <label for = "difficulty">Difficulty</label>
      <select class = "form-control" id = "difficulty"
       name="difficulty" require  [(ngModel)]="newProblem.difficulty">
        <option *ngFor="let difficulty of difficulties" [value]="difficulty">
          {{difficulty}}
        </option>
     </select>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary pull-right" [disabled]="!formRef.form.valid">Add Problem</button>
      </div>
    </div>
  </form>
</div>
<hr>
